In [1]:
from datetime import date
import numpy as np
import tensorflow as tf
from tensorflow import keras

2023-12-31 16:43:55.880231: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-31 16:43:55.910294: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-31 16:43:55.910325: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-31 16:43:55.910999: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-31 16:43:55.915560: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-31 16:43:55.916347: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-31 16:43:56.482175: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
MONTHS_DICT = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
              }

In [3]:
def generate_data(n_samples):
    X, y = [], []
    ordinal_min = date(1000, 1, 1).toordinal()
    ordinal_max = date(9999, 12, 31).toordinal()
    
    ordinal_random = np.random.randint(ordinal_max - ordinal_min, size=n_samples) + ordinal_min

    for ordinal in ordinal_random:
        dt = date.fromordinal(ordinal)
        tm_year, tm_month, tm_day = dt.timetuple().tm_year, dt.timetuple().tm_mon, dt.timetuple().tm_mday
        month = MONTHS_DICT[tm_month]
        y.append(dt.isoformat())
        X.append(f"{month} {tm_day}, {tm_year}")
        
    return X,y

In [4]:
INPUT_CHARS = sorted(set("".join(MONTHS_DICT.values()) + "1234567890, "))
OUTPUT_CHARS = "0123456789-"
def vectorize_input(data):
    return [INPUT_CHARS.index(char) for char in data]

def vectorize_output(data):
    return [OUTPUT_CHARS.index(char) for char in data]

In [5]:
def create_dataset(n_samples, batch_size=32):
    x, y = generate_data(n_samples)
    
    X = [vectorize_input(dt) for dt in x]
    Y = [vectorize_output(dt) for dt in y]
    X, Y = tf.ragged.constant(X, ragged_rank=1), tf.ragged.constant(Y,ragged_rank=1)

    X, Y = (X + 1).to_tensor(), (Y + 1).to_tensor()
    
    dataset = tf.data.Dataset.from_tensor_slices((X,Y))
    # dataset = dataset.shuffle(n_samples)
    dataset = dataset.batch(batch_size)
    
    return dataset, X.shape, Y.shape

In [6]:
train_dataset, MAX_INPUT_SHAPE, MAX_OUTPUT_SHAPE = create_dataset(n_samples=15000)
test_dataset, _, _ = create_dataset(n_samples=3000)
val_dataset, _, _ = create_dataset(n_samples=2000)

2023-12-31 16:44:03.268445: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:06:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-12-31 16:44:03.283511: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [7]:
embedding_size = 32

encoder = keras.models.Sequential([
    keras.layers.Embedding(input_dim=len(INPUT_CHARS) + 1, output_dim=embedding_size, input_shape=[None]),
    keras.layers.LSTM(128)
])

decoder = keras.models.Sequential([
    keras.layers.LSTM(128, return_sequences=True),
    keras.layers.Dense(len(OUTPUT_CHARS) + 1, activation="softmax")   
])

model = keras.models.Sequential([
    encoder,
    keras.layers.RepeatVector(MAX_OUTPUT_SHAPE[1]),
    decoder
])

In [8]:
optimizer = keras.optimizers.Nadam()
model.compile(loss="sparse_categorical_crossentropy", optimizer=optimizer, metrics=["accuracy"])
model.fit(train_dataset, epochs=10, validation_data=val_dataset)

Epoch 1/10
469/469 [==============================] - 15s 26ms/step - loss: 1.6374 - accuracy: 0.4226 - val_loss: 1.2978 - val_accuracy: 0.5401
Epoch 2/10
469/469 [==============================] - 12s 25ms/step - loss: 0.9816 - accuracy: 0.6429 - val_loss: 0.7724 - val_accuracy: 0.7118
Epoch 3/10
469/469 [==============================] - 12s 25ms/step - loss: 0.6362 - accuracy: 0.7523 - val_loss: 0.5156 - val_accuracy: 0.7918
Epoch 4/10
469/469 [==============================] - 12s 25ms/step - loss: 0.3945 - accuracy: 0.8431 - val_loss: 0.2999 - val_accuracy: 0.8844
Epoch 5/10
469/469 [==============================] - 11s 24ms/step - loss: 0.2856 - accuracy: 0.9055 - val_loss: 0.1735 - val_accuracy: 0.9481
Epoch 6/10
469/469 [==============================] - 11s 24ms/step - loss: 0.1129 - accuracy: 0.9714 - val_loss: 0.0730 - val_accuracy: 0.9859
Epoch 7/10
469/469 [==============================] - 12s 25ms/step - loss: 0.0499 - accuracy: 0.9920 - val_loss: 0.0338 - val_accuracy: 0.9956
Epoch 8/10
469/469 [==============================] - 11s 24ms/step - loss: 0.0850 - accuracy: 0.9832 - val_loss: 0.0312 - val_accuracy: 0.9962
Epoch 9/10
469/469 [==============================] - 12s 25ms/step - loss: 0.0194 - accuracy: 0.9984 - val_loss: 0.0136 - val_accuracy: 0.9994
Epoch 10/10
469/469 [==============================] - 11s 24ms/step - loss: 0.0101 - accuracy: 0.9996 - val_loss: 0.0083 - val_accuracy: 0.9997

In [9]:
def prepare_input(date_strs):
    ids = [vectorize_input(str) for str in date_strs]
    X = tf.ragged.constant(ids, ragged_rank=1)
    return (X + 1).to_tensor()

In [10]:
X_new = prepare_input(["September 17, 2009", "July 14, 1789"])

In [11]:
ids = np.argmax(model.predict(X_new), axis=-1)

1/1 [==============================] - 0s 439ms/step

In [12]:
for id in ids:
    print(''.join([OUTPUT_CHARS[index -1] for index in id]))

2009-09-17
1789-07-14

In [13]:
X_new = prepare_input(["May 02, 2020", "July 14, 1789"])

In [14]:
ids = np.argmax(model.predict(X_new), axis=-1)
for id in ids:
    print(''.join([OUTPUT_CHARS[index -1] for index in id]))

1/1 [==============================] - 0s 418ms/step
2020-09-21
1789-09-14

In [15]:
X_new = prepare_input(["May 02, 2020", "September 17, 2009"])

In [16]:
X_new[0]

<tf.Tensor: shape=(18,), dtype=int32, numpy=
array([17, 21, 38,  1,  3,  5,  2,  1,  5,  3,  5,  3,  0,  0,  0,  0,  0,
        0], dtype=int32)>

In [17]:
def prepare_date_strs(date_strs, chars=INPUT_CHARS):
    X_ids = [vectorize_input(dt) for dt in date_strs]
    X = tf.ragged.constant(X_ids, ragged_rank=1)
    return (X + 1).to_tensor()

In [18]:
def prepare_date_strs_padded(date_strs):
    X = prepare_date_strs(date_strs)
    print(X)
    if X.shape[1] < MAX_INPUT_SHAPE[1]:
        X = tf.pad(X, [[0, 0], [0, MAX_INPUT_SHAPE[1] - X.shape[1]]])
        print(X)
    return X

def convert_date_strs(date_strs):
    X = prepare_date_strs_padded(date_strs)
    ids = np.argmax(model.predict(X), axis=-1)
    return ids

In [19]:
pred = convert_date_strs(["May 11, 2020", "September 17, 2009"])

tf.Tensor(
[[17 21 38  1  4  4  2  1  5  3  5  3  0  0  0  0  0  0]
 [20 24 32 35 24 29 22 24 33  1  4 10  2  1  5  3  3 12]], shape=(2, 18), dtype=int32)
1/1 [==============================] - 0s 20ms/step

In [20]:
for id in pred:
    print(''.join([OUTPUT_CHARS[index -1] for index in id]))

2020-05-11
2009-09-17

## Teacher Forcing

In [22]:
TOKEN_ID = len(OUTPUT_CHARS) + 1
def shift_output(dataset):
    X = np.concatenate([X for X,Y in dataset], axis=0)
    Y = np.concatenate([Y for X,Y in dataset], axis=0)

    sos_token = tf.fill(dims=(Y.shape[0], 1), value=TOKEN_ID)
    X_decoder = np.concatenate([sos_token, Y[:, :-1]], axis=1)
    
    return tf.constant(X), X_decoder, tf.constant(Y)

In [23]:
X_train, X_train_decoder, y_train = shift_output(train_dataset)
X_test, X_test_decoder, y_test = shift_output(test_dataset)
X_val, X_val_decoder, y_val = shift_output(val_dataset)

February 9, 1912yy
1912-02-09
July 4, 5475yyyyyy
5475-07-04
July 26, 1945yyyyy
1945-07-26
December 7, 4783yy
4783-12-07
September 7, 3262y
3262-09-07
April 28, 4369yyyy
4369-04-28
July 8, 2796yyyyyy
2796-07-08
February 20, 2625y
2625-02-20
October 15, 2898yy
2898-10-15
October 28, 7660yy
7660-10-28
April 24, 8703yyyy
8703-04-24
November 11, 4315y
4315-11-11
February 27, 2078y
2078-02-27
March 7, 3801yyyyy
3801-03-07
January 1, 9897yyy
9897-01-01
August 2, 8515yyyy
8515-08-02
January 30, 5671yy
5671-01-30
August 4, 6677yyyy
6677-08-04
January 12, 8507yy
8507-01-12
July 12, 2042yyyyy
2042-07-12
August 1, 2723yyyy
2723-08-01
May 15, 8726yyyyyy
8726-05-15
January 19, 8776yy
8776-01-19
April 18, 4191yyyy
4191-04-18
August 27, 6071yyy
6071-08-27
December 30, 3992y
3992-12-30
August 7, 9323yyyy
9323-08-07
February 14, 6871y
6871-02-14
April 10, 7881yyyy
7881-04-10
March 25, 1990yyyy
1990-03-25
July 24, 8805yyyyy
8805-07-24
August 31, 6300yyy
6300-08-31
August 13, 2891yyy
2891-08-13
January 26, 1120yy
1120-01-26
October 20, 8729yy
8729-10-20
April 6, 1642yyyyy
1642-04-06
July 13, 4333yyyyy
4333-07-13
August 8, 4399yyyy
4399-08-08
February 12, 7336y
7336-02-12
May 8, 4543yyyyyyy
4543-05-08
February 13, 4504y
4504-02-13
February 28, 9945y
9945-02-28
April 7, 5660yyyyy
5660-04-07
December 2, 8396yy
8396-12-02
January 26, 7421yy
7421-01-26
May 2, 5076yyyyyyy
5076-05-02
December 14, 6222y
6222-12-14
May 6, 7442yyyyyyy
7442-05-06
July 29, 7873yyyyy
7873-07-29
September 2, 8262y
8262-09-02
September 18, 7287
7287-09-18
March 17, 5293yyyy
5293-03-17
June 4, 3891yyyyyy
3891-06-04
April 23, 1097yyyy
1097-04-23
October 22, 4450yy
4450-10-22
September 14, 4950
4950-09-14
April 3, 1891yyyyy
1891-04-03
December 15, 3223y
3223-12-15
September 15, 8503
8503-09-15
November 24, 7283y
7283-11-24
February 6, 4371yy
4371-02-06
October 28, 1610yy
1610-10-28
October 21, 6215yy
6215-10-21
June 25, 5886yyyyy
5886-06-25
June 27, 8337yyyyy
8337-06-27
December 5, 6193yy
6193-12-05
April 30, 3445yyyy
3445-04-30
July 5, 3489yyyyyy
3489-07-05
September 27, 8306
8306-09-27
December 18, 3742y
3742-12-18
April 16, 6342yyyy
6342-04-16
May 12, 7034yyyyyy
7034-05-12
September 22, 3609
3609-09-22
January 17, 1117yy
1117-01-17
August 7, 7177yyyy
7177-08-07
June 14, 5817yyyyy
5817-06-14
July 3, 9808yyyyyy
9808-07-03
December 13, 9566y
9566-12-13
January 17, 9180yy
9180-01-17
March 25, 4790yyyy
4790-03-25
January 9, 9329yyy
9329-01-09
November 1, 7934yy
7934-11-01
November 8, 1212yy
1212-11-08
July 12, 1132yyyyy
1132-07-12
October 14, 5855yy
5855-10-14
December 14, 3845y
3845-12-14
January 7, 1964yyy
1964-01-07
June 11, 8328yyyyy
8328-06-11
May 10, 4624yyyyyy
4624-05-10
June 10, 6863yyyyy
6863-06-10
January 24, 7258yy
7258-01-24
September 12, 4593
4593-09-12
January 21, 2504yy
2504-01-21
May 4, 7832yyyyyyy
7832-05-04
August 16, 9043yyy
9043-08-16
June 15, 4121yyyyy
4121-06-15
February 16, 7514y
7514-02-16
December 1, 2658yy
2658-12-01
May 24, 7599yyyyyy
7599-05-24
September 18, 3216
3216-09-18
August 18, 8966yyy
8966-08-18
December 29, 2808y
2808-12-29
October 24, 9468yy
9468-10-24
July 16, 5942yyyyy
5942-07-16
January 20, 1135yy
1135-01-20
December 29, 2537y
2537-12-29
August 25, 8537yyy
8537-08-25
December 25, 3115y
3115-12-25
March 24, 6264yyyy
6264-03-24
July 6, 5402yyyyyy
5402-07-06
July 2, 5853yyyyyy
5853-07-02
January 17, 1013yy
1013-01-17
November 9, 9728yy
9728-11-09
October 3, 3796yyy
3796-10-03
September 28, 6256
6256-09-28
January 26, 4952yy
4952-01-26
September 21, 4059
4059-09-21
September 6, 3598y
3598-09-06
August 19, 5813yyy
5813-08-19
June 30, 5877yyyyy
5877-06-30
March 26, 5641yyyy
5641-03-26
January 25, 7242yy
7242-01-25
July 29, 1273yyyyy
1273-07-29
March 24, 5439yyyy
5439-03-24
November 29, 8861y
8861-11-29
March 4, 4906yyyyy
4906-03-04
June 24, 6694yyyyy
6694-06-24
May 2, 4173yyyyyyy
4173-05-02
September 29, 3168
3168-09-29
September 30, 8752
8752-09-30
December 12, 8609y
8609-12-12
July 10, 3273yyyyy
3273-07-10
September 7, 9090y
9090-09-07
January 5, 5612yyy
5612-01-05
June 7, 8798yyyyyy
8798-06-07
December 25, 9692y
9692-12-25
September 19, 4724
4724-09-19
April 15, 2722yyyy
2722-04-15
July 16, 8687yyyyy
8687-07-16
March 24, 8469yyyy
8469-03-24
April 9, 5939yyyyy
5939-04-09
February 17, 9662y
9662-02-17
September 21, 6911
6911-09-21
January 16, 6410yy
6410-01-16
February 6, 5246yy
5246-02-06
November 9, 6977yy
6977-11-09
May 7, 7200yyyyyyy
7200-05-07
October 10, 4723yy
4723-10-10
August 21, 3585yyy
3585-08-21
April 16, 1329yyyy
1329-04-16
September 6, 8180y
8180-09-06
April 16, 9939yyyy
9939-04-16
March 5, 9147yyyyy
9147-03-05
August 28, 7345yyy
7345-08-28
November 26, 6289y
6289-11-26
October 14, 5637yy
5637-10-14
September 1, 8490y
8490-09-01
February 18, 2259y
2259-02-18
June 15, 3427yyyyy
3427-06-15
June 7, 1950yyyyyy
1950-06-07
November 8, 6011yy
6011-11-08
August 6, 4402yyyy
4402-08-06
May 30, 3429yyyyyy
3429-05-30
September 30, 5770
5770-09-30
January 30, 9638yy
9638-01-30
April 9, 5010yyyyy
5010-04-09
July 19, 4318yyyyy
4318-07-19
January 9, 8744yyy
8744-01-09
February 9, 9095yy
9095-02-09
January 6, 3242yyy
3242-01-06
April 12, 7940yyyy
7940-04-12
July 8, 3618yyyyyy
3618-07-08
October 7, 3741yyy
3741-10-07
May 19, 7280yyyyyy
7280-05-19
May 10, 2512yyyyyy
2512-05-10
February 24, 2933y
2933-02-24
July 11, 1832yyyyy
1832-07-11
January 7, 4917yyy
4917-01-07
June 17, 8744yyyyy
8744-06-17
December 14, 6856y
6856-12-14
July 16, 2069yyyyy
2069-07-16
October 25, 6375yy
6375-10-25
June 22, 2405yyyyy
2405-06-22
March 11, 3601yyyy
3601-03-11
October 14, 6387yy
6387-10-14
January 11, 2116yy
2116-01-11
May 8, 2986yyyyyyy
2986-05-08
July 31, 8255yyyyy
8255-07-31
September 15, 6801
6801-09-15
August 10, 8974yyy
8974-08-10
February 10, 7441y
7441-02-10
November 29, 6628y
6628-11-29
October 28, 6452yy
6452-10-28
September 21, 7337
7337-09-21
September 12, 2897
2897-09-12
January 25, 6893yy
6893-01-25
July 28, 8546yyyyy
8546-07-28
November 13, 6702y
6702-11-13
April 18, 7901yyyy
7901-04-18
April 24, 6107yyyy
6107-04-24
November 26, 7696y
7696-11-26
January 26, 2886yy
2886-01-26
December 10, 5392y
5392-12-10
October 17, 1034yy
1034-10-17
November 12, 3108y
3108-11-12
November 25, 5399y
5399-11-25
August 20, 5664yyy
5664-08-20
November 5, 2003yy
2003-11-05
July 8, 5670yyyyyy
5670-07-08
November 27, 4113y
4113-11-27
August 20, 6839yyy
6839-08-20
May 30, 6326yyyyyy
6326-05-30
July 13, 4053yyyyy
4053-07-13
November 29, 7086y
7086-11-29
March 11, 2496yyyy
2496-03-11
January 7, 6641yyy
6641-01-07
December 6, 5643yy
5643-12-06
May 1, 8660yyyyyyy
8660-05-01
February 28, 5219y
5219-02-28
February 22, 7908y
7908-02-22
December 5, 3788yy
3788-12-05
May 10, 2621yyyyyy
2621-05-10
October 30, 6142yy
6142-10-30
April 8, 1125yyyyy
1125-04-08
February 22, 6725y
6725-02-22
July 15, 6813yyyyy
6813-07-15
October 26, 1830yy
1830-10-26
July 12, 2426yyyyy
2426-07-12
August 3, 3770yyyy
3770-08-03
December 14, 2413y
2413-12-14
July 7, 5502yyyyyy
5502-07-07
May 12, 7135yyyyyy
7135-05-12
October 1, 6582yyy
6582-10-01
May 31, 9025yyyyyy
9025-05-31
November 16, 1544y
1544-11-16
September 4, 2938y
2938-09-04
August 6, 2383yyyy
2383-08-06
January 4, 2594yyy
2594-01-04
October 19, 6122yy
6122-10-19
April 25, 3990yyyy
3990-04-25
March 22, 6992yyyy
6992-03-22
November 27, 1800y
1800-11-27
March 10, 5891yyyy
5891-03-10
January 1, 4827yyy
4827-01-01
February 9, 6517yy
6517-02-09
April 21, 6826yyyy
6826-04-21
July 17, 8277yyyyy
8277-07-17
August 5, 1521yyyy
1521-08-05
July 18, 6590yyyyy
6590-07-18
June 28, 7017yyyyy
7017-06-28
November 9, 5358yy
5358-11-09
April 16, 8731yyyy
8731-04-16
April 27, 7380yyyy
7380-04-27
May 14, 2619yyyyyy
2619-05-14
November 23, 6156y
6156-11-23
November 17, 8670y
8670-11-17
April 16, 8663yyyy
8663-04-16
December 17, 3012y
3012-12-17
October 4, 3091yyy
3091-10-04
February 23, 5553y
5553-02-23
April 25, 5588yyyy
5588-04-25
June 2, 6200yyyyyy
6200-06-02
April 7, 8510yyyyy
8510-04-07
February 28, 3440y
3440-02-28
May 10, 1815yyyyyy
1815-05-10
July 4, 3740yyyyyy
3740-07-04
August 22, 3342yyy
3342-08-22
June 20, 9987yyyyy
9987-06-20
December 24, 9048y
9048-12-24
January 14, 9210yy
9210-01-14
February 4, 5676yy
5676-02-04
June 3, 3666yyyyyy
3666-06-03
May 30, 9548yyyyyy
9548-05-30
July 20, 8120yyyyy
8120-07-20
June 28, 5840yyyyy
5840-06-28
August 2, 5184yyyy
5184-08-02
November 13, 5703y
5703-11-13
July 12, 7025yyyyy
7025-07-12
October 20, 4867yy
4867-10-20
March 13, 7706yyyy
7706-03-13
December 9, 6922yy
6922-12-09
October 28, 2098yy
2098-10-28
May 7, 5659yyyyyyy
5659-05-07
October 20, 7448yy
7448-10-20
September 14, 6259
6259-09-14
March 4, 2045yyyyy
2045-03-04
December 17, 2651y
2651-12-17
August 18, 3067yyy
3067-08-18
June 19, 9295yyyyy
9295-06-19
October 29, 4704yy
4704-10-29
June 13, 9004yyyyy
9004-06-13
March 3, 5629yyyyy
5629-03-03
January 7, 6141yyy
6141-01-07
January 13, 7209yy
7209-01-13
October 8, 8571yyy
8571-10-08
August 15, 2507yyy
2507-08-15
December 15, 9542y
9542-12-15
June 25, 1617yyyyy
1617-06-25
November 28, 9589y
9589-11-28
December 14, 4680y
4680-12-14
May 29, 7814yyyyyy
7814-05-29
September 14, 3691
3691-09-14
June 6, 9975yyyyyy
9975-06-06
December 15, 8276y
8276-12-15
October 6, 9396yyy
9396-10-06
December 4, 1062yy
1062-12-04
May 11, 8300yyyyyy
8300-05-11
September 4, 6651y
6651-09-04
January 23, 2490yy
2490-01-23
September 10, 4825
4825-09-10
July 30, 3125yyyyy
3125-07-30
August 9, 1640yyyy
1640-08-09
September 1, 1035y
1035-09-01
September 24, 2794
2794-09-24
March 28, 8075yyyy
8075-03-28
September 17, 9514
9514-09-17
June 25, 5848yyyyy
5848-06-25
September 19, 8106
8106-09-19
July 19, 8260yyyyy
8260-07-19
January 6, 8320yyy
8320-01-06
July 10, 9322yyyyy
9322-07-10
May 8, 9934yyyyyyy
9934-05-08
January 30, 6224yy
6224-01-30
March 20, 5883yyyy
5883-03-20
February 16, 3792y
3792-02-16
March 31, 7351yyyy
7351-03-31
March 18, 7049yyyy
7049-03-18
April 14, 9430yyyy
9430-04-14
July 17, 2074yyyyy
2074-07-17
November 23, 6995y
6995-11-23
September 16, 9314
9314-09-16
March 12, 9296yyyy
9296-03-12
May 28, 6673yyyyyy
6673-05-28
June 10, 8639yyyyy
8639-06-10
December 29, 7159y
7159-12-29
August 21, 9543yyy
9543-08-21
June 3, 9343yyyyyy
9343-06-03
August 11, 7868yyy
7868-08-11
March 21, 6096yyyy
6096-03-21
November 18, 8741y
8741-11-18
May 5, 5569yyyyyyy
5569-05-05
November 29, 9889y
9889-11-29
June 27, 1849yyyyy
1849-06-27
June 28, 4101yyyyy
4101-06-28
March 7, 2082yyyyy
2082-03-07
November 13, 2634y
2634-11-13
August 7, 5742yyyy
5742-08-07
September 29, 7910
7910-09-29
March 3, 4469yyyyy
4469-03-03
January 20, 4169yy
4169-01-20
June 1, 3567yyyyyy
3567-06-01
December 10, 6234y
6234-12-10
February 1, 3801yy
3801-02-01
July 27, 9687yyyyy
9687-07-27
November 1, 1934yy
1934-11-01
November 27, 2038y
2038-11-27
November 15, 4140y
4140-11-15
November 11, 1372y
1372-11-11
February 20, 7866y
7866-02-20
August 18, 4226yyy
4226-08-18
January 22, 6249yy
6249-01-22
April 26, 9271yyyy
9271-04-26
October 9, 4172yyy
4172-10-09
May 26, 4615yyyyyy
4615-05-26
February 10, 8209y
8209-02-10
November 3, 8923yy
8923-11-03
June 12, 8863yyyyy
8863-06-12
February 20, 7264y
7264-02-20
November 9, 7022yy
7022-11-09
April 17, 2767yyyy
2767-04-17
October 21, 3373yy
3373-10-21
February 28, 8791y
8791-02-28
March 23, 9033yyyy
9033-03-23
October 24, 9239yy
9239-10-24
June 19, 8697yyyyy
8697-06-19
June 4, 8008yyyyyy
8008-06-04
April 30, 6563yyyy
6563-04-30
August 10, 5394yyy
5394-08-10
December 28, 9906y
9906-12-28
August 19, 5082yyy
5082-08-19
April 3, 4082yyyyy
4082-04-03
February 22, 1898y
1898-02-22
November 22, 2033y
2033-11-22
August 25, 4324yyy
4324-08-25
July 20, 9150yyyyy
9150-07-20
October 31, 6804yy
6804-10-31
October 15, 1859yy
1859-10-15
April 17, 3658yyyy
3658-04-17
March 23, 3295yyyy
3295-03-23
September 22, 9632
9632-09-22
May 28, 4553yyyyyy
4553-05-28
February 20, 6342y
6342-02-20
May 2, 2058yyyyyyy
2058-05-02
April 26, 2832yyyy
2832-04-26
November 13, 6974y
6974-11-13
October 1, 2604yyy
2604-10-01
March 9, 9472yyyyy
9472-03-09
November 9, 6992yy
6992-11-09
November 29, 9532y
9532-11-29
November 8, 9665yy
9665-11-08
January 2, 6704yyy
6704-01-02
August 21, 9814yyy
9814-08-21
June 18, 9537yyyyy
9537-06-18
January 4, 8674yyy
8674-01-04
January 14, 2280yy
2280-01-14
April 29, 7862yyyy
7862-04-29
February 8, 6613yy
6613-02-08
March 29, 3488yyyy
3488-03-29
June 14, 6456yyyyy
6456-06-14
May 18, 2796yyyyyy
2796-05-18
October 1, 9151yyy
9151-10-01
February 13, 6506y
6506-02-13
May 4, 8643yyyyyyy
8643-05-04
February 22, 8604y
8604-02-22
October 8, 5566yyy
5566-10-08
February 28, 1553y
1553-02-28
March 23, 5899yyyy
5899-03-23
July 26, 7799yyyyy
7799-07-26
September 28, 2111
2111-09-28
August 23, 3374yyy
3374-08-23
May 29, 7757yyyyyy
7757-05-29
November 23, 1626y
1626-11-23
July 19, 6614yyyyy
6614-07-19
July 29, 7688yyyyy
7688-07-29
June 1, 4435yyyyyy
4435-06-01
April 9, 8267yyyyy
8267-04-09
April 23, 1744yyyy
1744-04-23
August 1, 7520yyyy
7520-08-01
November 8, 2335yy
2335-11-08
October 27, 2043yy
2043-10-27
July 7, 5660yyyyyy
5660-07-07
July 15, 1565yyyyy
1565-07-15
December 8, 8596yy
8596-12-08
July 1, 2682yyyyyy
2682-07-01
May 7, 8765yyyyyyy
8765-05-07
August 5, 8203yyyy
8203-08-05
September 19, 7136
7136-09-19
February 19, 3370y
3370-02-19
June 13, 7548yyyyy
7548-06-13
July 30, 7969yyyyy
7969-07-30
July 3, 1720yyyyyy
1720-07-03
April 26, 5982yyyy
5982-04-26
March 7, 5353yyyyy
5353-03-07
March 21, 6786yyyy
6786-03-21
June 30, 7298yyyyy
7298-06-30
March 31, 6499yyyy
6499-03-31
September 24, 6543
6543-09-24
August 25, 9099yyy
9099-08-25
December 1, 8381yy
8381-12-01
January 8, 4190yyy
4190-01-08
November 7, 2678yy
2678-11-07
May 2, 5360yyyyyyy
5360-05-02
February 17, 6883y
6883-02-17
June 9, 3908yyyyyy
3908-06-09
December 28, 4582y
4582-12-28
July 24, 4646yyyyy
4646-07-24
February 8, 1617yy
1617-02-08
December 4, 1806yy
1806-12-04
November 20, 3012y
3012-11-20
May 2, 9302yyyyyyy
9302-05-02
August 25, 8204yyy
8204-08-25
September 9, 6608y
6608-09-09
April 22, 8268yyyy
8268-04-22
July 8, 5860yyyyyy
5860-07-08
October 23, 2299yy
2299-10-23
October 1, 7147yyy
7147-10-01
May 20, 5481yyyyyy
5481-05-20
May 26, 1791yyyyyy
1791-05-26
September 17, 2602
2602-09-17
February 9, 1912yy
1912-02-09
February 9, 1912yy
1912-02-09
July 4, 5475yyyyyy
5475-07-04
July 26, 1945yyyyy
1945-07-26
December 7, 4783yy
4783-12-07
September 7, 3262y
3262-09-07
April 28, 4369yyyy
4369-04-28
July 8, 2796yyyyyy
2796-07-08
February 20, 2625y
2625-02-20
October 15, 2898yy
2898-10-15
October 28, 7660yy
7660-10-28
April 24, 8703yyyy
8703-04-24
November 11, 4315y
4315-11-11
February 27, 2078y
2078-02-27
March 7, 3801yyyyy
3801-03-07
January 1, 9897yyy
9897-01-01
August 2, 8515yyyy
8515-08-02
January 30, 5671yy
5671-01-30
August 4, 6677yyyy
6677-08-04
January 12, 8507yy
8507-01-12
July 12, 2042yyyyy
2042-07-12
August 1, 2723yyyy
2723-08-01
May 15, 8726yyyyyy
8726-05-15
January 19, 8776yy
8776-01-19
April 18, 4191yyyy
4191-04-18
August 27, 6071yyy
6071-08-27
December 30, 3992y
3992-12-30
August 7, 9323yyyy
9323-08-07
February 14, 6871y
6871-02-14
April 10, 7881yyyy
7881-04-10
March 25, 1990yyyy
1990-03-25
July 24, 8805yyyyy
8805-07-24
August 31, 6300yyy
6300-08-31
August 13, 2891yyy
2891-08-13
January 26, 1120yy
1120-01-26
October 20, 8729yy
8729-10-20
April 6, 1642yyyyy
1642-04-06
July 13, 4333yyyyy
4333-07-13
August 8, 4399yyyy
4399-08-08
February 12, 7336y
7336-02-12
May 8, 4543yyyyyyy
4543-05-08
February 13, 4504y
4504-02-13
February 28, 9945y
9945-02-28
April 7, 5660yyyyy
5660-04-07
December 2, 8396yy
8396-12-02
January 26, 7421yy
7421-01-26
May 2, 5076yyyyyyy
5076-05-02
December 14, 6222y
6222-12-14
May 6, 7442yyyyyyy
7442-05-06
July 29, 7873yyyyy
7873-07-29
September 2, 8262y
8262-09-02
September 18, 7287
7287-09-18
March 17, 5293yyyy
5293-03-17
June 4, 3891yyyyyy
3891-06-04
April 23, 1097yyyy
1097-04-23
October 22, 4450yy
4450-10-22
September 14, 4950
4950-09-14
April 3, 1891yyyyy
1891-04-03
December 15, 3223y
3223-12-15
September 15, 8503
8503-09-15
November 24, 7283y
7283-11-24
February 6, 4371yy
4371-02-06
October 28, 1610yy
1610-10-28
October 21, 6215yy
6215-10-21
June 25, 5886yyyyy
5886-06-25
June 27, 8337yyyyy
8337-06-27
December 5, 6193yy
6193-12-05
April 30, 3445yyyy
3445-04-30
July 5, 3489yyyyyy
3489-07-05
September 27, 8306
8306-09-27
December 18, 3742y
3742-12-18
April 16, 6342yyyy
6342-04-16
May 12, 7034yyyyyy
7034-05-12
September 22, 3609
3609-09-22
January 17, 1117yy
1117-01-17
August 7, 7177yyyy
7177-08-07
June 14, 5817yyyyy
5817-06-14
July 3, 9808yyyyyy
9808-07-03
December 13, 9566y
9566-12-13
January 17, 9180yy
9180-01-17
March 25, 4790yyyy
4790-03-25
January 9, 9329yyy
9329-01-09
November 1, 7934yy
7934-11-01
November 8, 1212yy
1212-11-08
July 12, 1132yyyyy
1132-07-12
October 14, 5855yy
5855-10-14
December 14, 3845y
3845-12-14
January 7, 1964yyy
1964-01-07
June 11, 8328yyyyy
8328-06-11
May 10, 4624yyyyyy
4624-05-10
June 10, 6863yyyyy
6863-06-10
January 24, 7258yy
7258-01-24
September 12, 4593
4593-09-12
January 21, 2504yy
2504-01-21
May 4, 7832yyyyyyy
7832-05-04
August 16, 9043yyy
9043-08-16
June 15, 4121yyyyy
4121-06-15
February 16, 7514y
7514-02-16
December 1, 2658yy
2658-12-01
May 24, 7599yyyyyy
7599-05-24
September 18, 3216
3216-09-18
August 18, 8966yyy
8966-08-18
December 29, 2808y
2808-12-29
October 24, 9468yy
9468-10-24
July 16, 5942yyyyy
5942-07-16
January 20, 1135yy
1135-01-20
December 29, 2537y
2537-12-29
August 25, 8537yyy
8537-08-25
December 25, 3115y
3115-12-25
March 24, 6264yyyy
6264-03-24
July 6, 5402yyyyyy
5402-07-06
July 2, 5853yyyyyy
5853-07-02
January 17, 1013yy
1013-01-17
November 9, 9728yy
9728-11-09
October 3, 3796yyy
3796-10-03
September 28, 6256
6256-09-28
January 26, 4952yy
4952-01-26
September 21, 4059
4059-09-21
September 6, 3598y
3598-09-06
August 19, 5813yyy
5813-08-19
June 30, 5877yyyyy
5877-06-30
March 26, 5641yyyy
5641-03-26
January 25, 7242yy
7242-01-25
July 29, 1273yyyyy
1273-07-29
March 24, 5439yyyy
5439-03-24
November 29, 8861y
8861-11-29
March 4, 4906yyyyy
4906-03-04
June 24, 6694yyyyy
6694-06-24
May 2, 4173yyyyyyy
4173-05-02
September 29, 3168
3168-09-29
September 30, 8752
8752-09-30
December 12, 8609y
8609-12-12
July 10, 3273yyyyy
3273-07-10
September 7, 9090y
9090-09-07
January 5, 5612yyy
5612-01-05
June 7, 8798yyyyyy
8798-06-07
December 25, 9692y
9692-12-25
September 19, 4724
4724-09-19
April 15, 2722yyyy
2722-04-15
July 16, 8687yyyyy
8687-07-16
March 24, 8469yyyy
8469-03-24
April 9, 5939yyyyy
5939-04-09
February 17, 9662y
9662-02-17
September 21, 6911
6911-09-21
January 16, 6410yy
6410-01-16
February 6, 5246yy
5246-02-06
November 9, 6977yy
6977-11-09
May 7, 7200yyyyyyy
7200-05-07
October 10, 4723yy
4723-10-10
August 21, 3585yyy
3585-08-21
April 16, 1329yyyy
1329-04-16
September 6, 8180y
8180-09-06
April 16, 9939yyyy
9939-04-16
March 5, 9147yyyyy
9147-03-05
August 28, 7345yyy
7345-08-28
November 26, 6289y
6289-11-26
October 14, 5637yy
5637-10-14
September 1, 8490y
8490-09-01
February 18, 2259y
2259-02-18
June 15, 3427yyyyy
3427-06-15
June 7, 1950yyyyyy
1950-06-07
November 8, 6011yy
6011-11-08
August 6, 4402yyyy
4402-08-06
May 30, 3429yyyyyy
3429-05-30
September 30, 5770
5770-09-30
January 30, 9638yy
9638-01-30
April 9, 5010yyyyy
5010-04-09
July 19, 4318yyyyy
4318-07-19
January 9, 8744yyy
8744-01-09
February 9, 9095yy
9095-02-09
January 6, 3242yyy
3242-01-06
April 12, 7940yyyy
7940-04-12
July 8, 3618yyyyyy
3618-07-08
October 7, 3741yyy
3741-10-07
May 19, 7280yyyyyy
7280-05-19
May 10, 2512yyyyyy
2512-05-10
February 24, 2933y
2933-02-24
July 11, 1832yyyyy
1832-07-11
January 7, 4917yyy
4917-01-07
June 17, 8744yyyyy
8744-06-17
December 14, 6856y
6856-12-14
July 16, 2069yyyyy
2069-07-16
October 25, 6375yy
6375-10-25
June 22, 2405yyyyy
2405-06-22
March 11, 3601yyyy
3601-03-11
October 14, 6387yy
6387-10-14
January 11, 2116yy
2116-01-11
May 8, 2986yyyyyyy
2986-05-08
July 31, 8255yyyyy
8255-07-31
September 15, 6801
6801-09-15
August 10, 8974yyy
8974-08-10
February 10, 7441y
7441-02-10
November 29, 6628y
6628-11-29
October 28, 6452yy
6452-10-28
September 21, 7337
7337-09-21
September 12, 2897
2897-09-12
January 25, 6893yy
6893-01-25
July 28, 8546yyyyy

In [24]:
encoder_input_layer = keras.layers.Input(shape=[None], dtype=tf.int32)
encoder_embedding_layer = keras.layers.Embedding(input_dim=len(INPUT_CHARS)+ 1, output_dim=512)(encoder_input_layer)
output, encoder_h_state, encoder_c_state = keras.layers.LSTM(128, return_state=True)(encoder_embedding_layer)

encoder_state = [encoder_h_state, encoder_c_state]

decoder_input_layer = keras.layers.Input(shape=[None], dtype=tf.int32)
decoder_embedding_layer = keras.layers.Embedding(input_dim=len(OUTPUT_CHARS)+ 2, output_dim=512)(decoder_input_layer)
decoder_LSTM_output = keras.layers.LSTM(128, return_sequences=True)(decoder_embedding_layer, initial_state=encoder_state)
decoder_output = keras.layers.Dense(len(OUTPUT_CHARS)+1, activation="softmax")(decoder_LSTM_output)

model = keras.models.Model(inputs=[encoder_input_layer, decoder_input_layer], outputs=[decoder_output])

optimizer = keras.optimizers.Nadam()
model.compile(loss="sparse_categorical_crossentropy", optimizer=optimizer, metrics=["accuracy"])
history = model.fit([X_train, X_train_decoder], y_train, epochs=20, validation_data=([X_val, X_val_decoder], y_val))

Epoch 1/20
469/469 [==============================] - 20s 37ms/step - loss: 0.7601 - accuracy: 0.7363 - val_loss: 0.2126 - val_accuracy: 0.9431
Epoch 2/20
469/469 [==============================] - 16s 35ms/step - loss: 0.1009 - accuracy: 0.9793 - val_loss: 0.0426 - val_accuracy: 0.9956
Epoch 3/20
469/469 [==============================] - 17s 36ms/step - loss: 0.0280 - accuracy: 0.9974 - val_loss: 0.0164 - val_accuracy: 0.9995
Epoch 4/20
469/469 [==============================] - 16s 35ms/step - loss: 0.0306 - accuracy: 0.9946 - val_loss: 0.0114 - val_accuracy: 0.9998
Epoch 5/20
469/469 [==============================] - 17s 35ms/step - loss: 0.0065 - accuracy: 0.9999 - val_loss: 0.0050 - val_accuracy: 0.9999
Epoch 6/20
469/469 [==============================] - 17s 36ms/step - loss: 0.0070 - accuracy: 0.9990 - val_loss: 0.0027 - val_accuracy: 1.0000
Epoch 7/20
469/469 [==============================] - 16s 35ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 8/20
469/469 [==============================] - 17s 36ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0011 - val_accuracy: 1.0000
Epoch 9/20
469/469 [==============================] - 17s 36ms/step - loss: 8.4592e-04 - accuracy: 1.0000 - val_loss: 7.9077e-04 - val_accuracy: 1.0000
Epoch 10/20
469/469 [==============================] - 17s 35ms/step - loss: 6.0572e-04 - accuracy: 1.0000 - val_loss: 6.2620e-04 - val_accuracy: 1.0000
Epoch 11/20
469/469 [==============================] - 17s 35ms/step - loss: 0.0566 - accuracy: 0.9865 - val_loss: 0.0076 - val_accuracy: 0.9994
Epoch 12/20
469/469 [==============================] - 17s 36ms/step - loss: 0.0026 - accuracy: 1.0000 - val_loss: 0.0013 - val_accuracy: 1.0000
Epoch 13/20
469/469 [==============================] - 17s 35ms/step - loss: 9.4307e-04 - accuracy: 1.0000 - val_loss: 7.8673e-04 - val_accuracy: 1.0000
Epoch 14/20
469/469 [==============================] - 17s 36ms/step - loss: 5.8558e-04 - accuracy: 1.0000 - val_loss: 5.3961e-04 - val_accuracy: 1.0000
Epoch 15/20
469/469 [==============================] - 17s 37ms/step - loss: 4.0684e-04 - accuracy: 1.0000 - val_loss: 4.0437e-04 - val_accuracy: 1.0000
Epoch 16/20
469/469 [==============================] - 16s 35ms/step - loss: 2.9630e-04 - accuracy: 1.0000 - val_loss: 3.0387e-04 - val_accuracy: 1.0000
Epoch 17/20
469/469 [==============================] - 17s 36ms/step - loss: 2.2260e-04 - accuracy: 1.0000 - val_loss: 2.3393e-04 - val_accuracy: 1.0000
Epoch 18/20
469/469 [==============================] - 16s 35ms/step - loss: 1.6960e-04 - accuracy: 1.0000 - val_loss: 1.8085e-04 - val_accuracy: 1.0000
Epoch 19/20
469/469 [==============================] - 17s 36ms/step - loss: 1.3103e-04 - accuracy: 1.0000 - val_loss: 1.4271e-04 - val_accuracy: 1.0000
Epoch 20/20
469/469 [==============================] - 16s 35ms/step - loss: 1.0080e-04 - accuracy: 1.0000 - val_loss: 1.1346e-04 - val_accuracy: 1.0000